<!DOCTYPE HTML>
<html>
	<head>
		<title>Carlos Martínez</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link href="/pace/themes/top.css" rel="stylesheet" />
	</head>
	<body>


		<!-- Sidebar -->
			<section id="sidebar">
					<div class="ProgressBar js-ProgressBar " id="grande">
							<div class="ProgressBar-wrapper js-ProgressBar-wrapper inner"></div>
					</div>
					<div class="inner" id="pequeno">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">What I do</a></li>
							<li><a href="#two">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>


		<!-- Wrapper -->
			<div id="wrapper" class="Content js-Content">

				<!-- Intro -->
				<div class="Content-text js-Content-text">
					<h2 class="Content-title js-Content-title" data-id="intro" style="display: none;">Welcome</h2>
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Carlos Martínez</h1>
							<p>Software Engineer student at Complutense University in Madrid.</p>
							<ul class="actions intro">
								<li><a href="#one" class="button scrolly">Projects</a></li>
								<li><a href="#two" class="button scrolly">Contact</a></li>
							</ul>
						</div>
					</section>
				</div>



				<!-- One -->
				<div class="Content-text js-Content-text">
			    <h2 class="Content-title js-Content-title" data-id="one" id="2" style="display:none;">What I do</h2>
					<section id="one" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Recent projects</h2>
							<p></p>
							<div class="features">
								<section>
									<span class="icon major fa-android"></span>
									<h3>Primeros Auxilios CES</h3>
									<p>This is a first aid app in collaboration with Centro de Estudios Superiores (CES) Juan Pablo II.</p>
									<ul class="actions">
										<li><a href="https://github.com/carmargut/CPR" target="_blank" class="button">Code</a></li>
										<li><a href="https://play.google.com/store/apps/details?id=martinezPrieto.cpr&hl=es"  target="_blank" class="button">Google Play</a></li>
									</ul>
								</section>
								<section>
									<span class="icon major fa-gamepad"></span>
									<h3>Saboteur</h3>
									<p>Web implementation of the classical saboteur game managing users, games and comments.</p>
									<ul class="actions">
										<li><a href="https://github.com/carmargut/saboteur" target="_blank" class="button">Code</a></li>
										<li><a href="http://carmargut.com:3000" target="_blank"  class="button">Demo</a></li>
									</ul>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>Algorithms and Data Structures exercises</h3>
									<p>Repository that unifies some exercises using data structures like graphs, priority queues and search trees or using techniques like dynamic programming. Under construction.</p>
									<ul class="actions">
										<li><a href="https://github.com/carmargut/tais" target="_blank" class="button">Code</a></li>
									</ul>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>MongoApp</h3>
									<p>This is a ruby on rails application with two sections: one with a film database and other with a predictor of time doing operations using a MongoDB database.</p>
									<ul class="actions">
										<li><a href="https://github.com/carmargut/mongoApp" target="_blank" class="button">Code</a></li>
									</ul>
								</section>
								<section>
									<span class="icon major fa-code"></span>
									<h3>Fifoproc</h3>
									<p>Implementation of a FIFO using a /proc entry.</p>
									<ul class="actions">
										<li><a href="https://github.com/carmargut/fifoproc" target="_blank" class="button">Code</a></li>
									</ul>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>Courses planification</h3>
									<p>Web service that uses an API REST.</p>
									<ul class="actions">
										<li><a href="https://github.com/carmargut/planificacion_cursos" target="_blank" class="button">Code</a></li>
										<li><a href="https://carmargut.com:5555/"  target="_blank" class="button">Demo</a></li>
									</ul>
								</section>

							</div>

						</div>
					</section>
				</div>

				<!-- Two -->
				<div class="Content-text js-Content-text">
    			<h2 class="Content-title js-Content-title" data-id="two" id="3" style="display:none;">Get in touch</h2>
					<section id="two" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>If you’d like to get in touch, feel free to send me a message through my email or linkedin.</p>


									<ul class="contact">
										<li>
											<h3>Social</h3>
											<ul class="social-networks square spin-icon">
												<li><a href="https://www.linkedin.com/in/carmargut/" class="icon-linkedin" target="_blank" title="Linkedin"><span class="label"></span></a></li>
												<li><a href="https://github.com/carmargut" class="icon-github" target="_blank" title="Github"><span class="label"></span></a></li>
											</ul>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:carmargut@gmail.com">carmargut@gmail.com</a>
										</li>
										<li>
											<h3>Download my curriculum vitae</h3>
												<li><a href="CarlosMartinezGutierrez.pdf" class="button icon fa-download">Download</a></li>
										</li>
									</ul>
						</div>
					</section>
				</div>



			<!-- Footer -->
				<footer id="footer" class="wrapper style1-alt">
					<div class="inner">
						<ul class="menu">
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							<li>Code: <a target="_blank" href="https://github.com/carmargut/portfolio">github.com/carmargut/portfolio</a></li>
						</ul>
					</div>
				</footer>

			<!-- end of content -->
			</div>

		<!-- Scripts -->
			<script src="/pace/pace.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="analytics.js"></script>
			<script src="script.js"></script>
	</body>
</html>
